---
// @ts-expect-error
import { pwaInfo } from "virtual:pwa-info";
import "../styles/global.css";

const title = "Mandelbro";
const description =
  "Mandelbro is a web-based Mandelbrot set explorer. It allows you to zoom in and out of the Mandelbrot set, and explore its intricate details. You can also save your progress and share it with others.";

const prodMode = import.meta.env.MODE === "production";
const gaKey = import.meta.env.PUBLIC_GA_ID;
const gaScript = `
window.dataLayer = window.dataLayer || [];
gtag("js", new Date());
gtag("config", "${gaKey}");
function gtag(){dataLayer.push(arguments)}
`
  .replaceAll(/(\r\n|\n|\r)/gm, "")
  .trim();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content={title} />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/appicon.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/appicon-192.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/appicon-512.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/appicon-180.png" />
    <link rel="stylesheet" href="https://use.typekit.net/bzn6hcq.css" />

    <title>{title}</title>

    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.request.url} />
    <meta property="og:image" content={`${Astro.site}preview.jpg`} />
    <meta property="og:image:alt" content={description} />

    {
      prodMode && (
        <script
          async
          src={`https://www.googletagmanager.com/gtag/js?id=${gaKey}`}
        />
      )
    }
    {prodMode && <script is:inline set:html={gaScript} />}
    {prodMode && <script src="/src/pwa.ts" />}
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
  </body>
</html>
